@keyframes coinAnimation {
    0% {opacity: 100%; margin-top: -25vw;}
    50% {opacity: 100%}
    100% {opacity: 0%; margin-top: 15vw;}
}

@mixin buttonStyle {
    display: block;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(17, 17, 17, 0.425);
    border: solid black 2px;
    border-radius: 5px;
    font-size: 3vw;
    font-family: Impact;
    color: rgb(0, 0, 0);
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    -webkit-text-stroke-color: rgb(185, 185, 50);
    -webkit-text-stroke-width: 1px;
    &:hover {
        border: solid yellow 2px;
        color: rgb(0, 0, 0);
        cursor: pointer;
        transition: 300ms;
        box-shadow: rgba(255, 255, 0, 0.356) 0px 0px 20px;
        background-color: rgba(34, 34, 34, 0);
        -webkit-text-stroke-color: yellow;
        -webkit-text-stroke-width: 1px;
    }
}
@mixin textStyle {
    display: inline-block;
    font-size: 6vw;
    font-family: Impact;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 1px;
}
@mixin smallTextStyle {
    display: inline-block;
    font-size: 2vw;
    font-family: Impact;
    font-weight: lighter;
    color: rgb(0, 0, 0);
}

body {
    background-image: linear-gradient(rgb(22, 22, 22), rgb(53, 53, 53));
}
.wallet-box {
    text-align: center;
    margin: 0;
    padding: 0;
    div {
        .animatedCoin {
            z-index: -5;
            color: yellow;
            display: inline-block;
            position: absolute;
            animation: coinAnimation ease-in 3s;
            border-radius: 100%;
            background-color: rgb(211, 211, 17);
            -webkit-text-stroke-color: rgb(0, 0, 0);
            -webkit-text-stroke-width: 1px;
            font-size: 3.3vw;
            vertical-align: center;
            width: 4vw;
            height: 4vw;
            font-family: Impact;
            border: solid rgb(255, 255, 0) 2px;
            box-shadow: rgba(255, 255, 0, 0.801) 0px 0px 15px;
        }
    }
        .wallet {
            @include textStyle;
            border-bottom: solid yellow 2px;
            font-family: monospace;
    }
    .print-button {
        @include buttonStyle;
    }
}
.shop-box {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30vw;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.267);
    button {
        @include buttonStyle;
        margin-bottom: 3vw;
    }
    h4 {
        @include textStyle;
        font-size: 3vw;
        margin-top: 3vw;
    }
}

.settings-box {
    h3 {
        @include textStyle;
    }
    h5 {
        @include smallTextStyle;
    }
    button {
        @include buttonStyle;
        margin: 0;
        font-size: 2vw;
    }
}